body{
    background-color: rgb(240, 246, 248) ;
}

#välkomst {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.login-block {
    border: 1px solid black ;
    text-align: center ;
    width: 300px ;
    margin: auto;
    border-radius: 5px ;
    background-color:  rgb(254, 254, 254) ;
    padding-bottom: 15px;
    box-shadow: 0px 1px 1px 2px rgba(1, 1, 1, 0.2);
}

#instruktion{
    border-bottom: 1px solid rgb(68, 68, 255);
    padding: 15px 15px;
    background-color: rgb(68, 68, 255);
    color: white;
    margin-top: auto;
    border-radius: 5px 5px 0px 0px;
}

#Checkbox{
    margin-left: -40px;
}

/* Styling the buttons*/

#login:hover{
    background-color: rgb(210, 210, 210);
}

#register:hover{
    background-color: rgb(210, 210, 210);
}

#login {
    background-color: gainsboro;
    border-radius: 10px;
    margin-right: 20px;
}

#register{
    background-color: gainsboro;
    border-radius: 10px;
}
